/* Apex chart Style Start */
.apexcharts-toolbar {
  display: none !important;
}
/* Apex chart Style End */

/* Tippy Style Start */
body .tippy-container .tippy-content {
  margin: 0;
  padding: 0;
}
/* Tippy Style End */

/* Tag Animation Style Start */
body .animate-onload,
body .animate-onload-fast {
  animation-name: onTagLoad;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

body .animate-onload-fast {
  animation-duration: 300ms;
}

@keyframes onTagLoad {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Tag Animation Style Start */

/* Font Style Start */
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
/* Font Style End */

/* Scroll Bar Style Start */
::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #687076 !important;
}

.chakra-ui-dark ::-webkit-scrollbar-thumb {
  background-color: #687076 !important;
}
/* Scroll Bar Style End */
